body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
.col, .col-3{
    border: solid;
    padding: 10px;
  
}

button {
  margin: 2px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #8d4662;
  background-position: 0px 0px;
  border: 5px solid black;
  margin: auto;
  padding: 5px;
  opacity: 1;
  position: relative;
  line-height: 1.2;
  font-size: 14px;
  color: white;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-indent: 0px;
  outline: 2px solid yellow;
}

